/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run hs/seminar1 -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '1.h'
    ]

    withName: 'STAR_ALIGN' {
        cpus = 4
        memory = '8.GB'
        time = '1.h'
        ext.args = '--readFilesCommand zcat'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.input + 'samplesheet_seminar.csv'

    // Reference genome paths
    fasta           = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa'
    gtf             = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.115.gtf'
    transcriptome   = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.cds.all.fa'
    star_index      = '/bio/reference/SacCerR64/star_index/'
    salmon_index    = '/bio/reference/SacCerR64/salmon_index'
}
